<h1 class="title">À PROPOS</h1>
<h2></h2>

<div class="list-group updates">

  <a class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="logTitle d-flex w-100 justify-content-between">
      <h5 class="mb-1">Informations sur Zukagen</h5>
    </div>
    <div class="d-flex flex-column align-items-start">
      <small class="text-muted">Étant motivé à l'idée d'apprendre la langue du pays du soleil levant, j'ai créé une petite page web n'ayant que pour 
          unique objectif la génération aléatoire de "Romaji". Ainsi, je pouvais m'entraîner à réécrire le Romaji affiché en Hiragana & Katakana.
          Pourquoi ? Pour ne pas toujours les écrire dans l'ordre traditionnel (a, i, u, e, o) et ainsi être sûr de les connaître réellement.<br/><br/>
          Une fois la page web achevée, mes amis m'ont dit que ça serait bien si on pouvait voir la réponse (convertir le romaji en kana), 
          avoir une barre de progression, choisir uniquement les Hiraganas ou Katakanas et bien d'autres choses.<br/><br/> 
          En me disant que ça me permettrait de m'occuper, j'ai bien entendu suivi ces conseils et ai amélioré progressivement le module de génération.
          Contemplant mon petit module de génération tout mignon, une pensée me vint à l'esprit : finalement, n'y a-t-il pas moyen de faire un beau site, 
          en ajoutant plein de modules, entièrement dédiés à l'apprentissage du Japonais ? 
          Peut-être bien que si...</small>
    </div>
  </a>

</div>
