<h1 class="title">JOURNAL (LOGS)</h1>

<div class="list-group updates">

  <a class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="logTitle d-flex w-100 justify-content-between">
      <h5 class="mb-1">Langues</h5>
      <small class="text-muted">16/06/21</small>
    </div>
    <div class="d-flex flex-column align-items-start">
      <small class="text-muted">* Ajout de la possibilité de switch la langue du site français/anglais.</small>
      <small class="text-muted">* Retient la langue sélectionnée.</small>
      <small class="text-muted">* Générateur Romaji : compteur sur la barre de progression pour être plus spécifique.</small>
      <small class="text-muted">* Le thème sombre est maintenant le thème par défaut.</small>
      <small class="text-muted">* Quelques petits ajustements graphiques ^.^</small>
    </div>
  </a>

  <a class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="logTitle d-flex w-100 justify-content-between">
      <h5 class="mb-1">Petits changements</h5>
      <small class="text-muted">15/06/21</small>
    </div>
    <div class="d-flex flex-column align-items-start">
      <small class="text-muted">* Lien vers la page de logs (coucou !) en bas de page et non en haut. Ce n'est pas une page importante :'(. </small>
      <small class="text-muted">* Police du logo modifiée vers quelque chose de plus cohérent.</small>
      <small class="text-muted">* Création d'une page "À propos" (en travaux) expliquant le contexte de création du site. Lien en bas de page.</small>
    </div>
  </a>

  <a class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="logTitle d-flex w-100 justify-content-between">
      <h5 class="mb-1">Nouvelles pages et graphiques...</h5>
      <small class="text-muted">14/06/21</small>
    </div>
    <div class="d-flex flex-column align-items-start">
      <small class="text-muted">* Page d'accueil avec de jolies animations (pog !)</small>
      <small class="text-muted">* Page 404 si on se perd dans l'URL.</small>
      <small class="text-muted">* On rend le thème sombre plus joli...</small>
      <small class="text-muted">* ... Et le thème clair aussi tant qu'à faire !</small>
    </div>
  </a>

    <a class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="logTitle d-flex w-100 justify-content-between">
          <h5 class="mb-1">Navigation et améliorations graphiques...</h5>
          <small class="text-muted">13/06/21</small>
        </div>
        <div class="d-flex flex-column align-items-start">
          <small class="text-muted">* Ajout d'une barre de navigation (responsive) qui servira pour aller sur les prochains outils.</small>
          <small class="text-muted">* Logique des composants améliorée.</small>
          <small class="text-muted">* Ajout d'une page de logs (coucou !)</small>
          <small class="text-muted">* Quelques petites updates graphiques.</small>
        </div>
    </a>

    <a class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="logTitle d-flex w-100 justify-content-between">
          <h5 class="mb-1">Améliorations module Romaji et UI</h5>
          <small class="text-muted">09/06/21</small>
        </div>
        <div class="d-flex flex-column align-items-start">
          <small class="text-muted">* On peut changer le thème (clair/sombre) via un interrupteur.</small>
          <small class="text-muted">* Générateur Romaji : logique de génération repensée et beaucoup plus souple avec les checkboxes et la progressbar.</small>
          <small class="text-muted">* Générateur Romaji : ajout d'une checkbox pour les digraphes.</small>
          <small class="text-muted">* Générateur Romaji : ajout d'une checkbox pour les diacritiques.</small>
        </div>
    </a>

    <a class="list-group-item list-group-item-action flex-column align-items-start">
      <div class="logTitle d-flex w-100 justify-content-between">
        <h5 class="mb-1">Publication Zukagen</h5>
        <small class="text-muted">07/06/21</small>
      </div>
      <div class="d-flex flex-column align-items-start">
        <small class="text-muted">* Publication du site.</small>
        <small class="text-muted">* Améliorations graphiques et responsive.</small>
        <small class="text-muted">* Générateur Romaji : montre la solution en cliquant sur le Romaji.</small>
        <small class="text-muted">* Générateur Romaji : barre de progression</small>
        <small class="text-muted">* Générateur Romaji : checkboxes Hiragana & Katakana pour être plus spécifique.</small>
      </div>
    </a>

  </div>
