<h1 class="title">Module de lecture</h1>
<p>Écrivez en Romaji les kanas visibles ci-dessous.</p>
<div class="chrono">{{'gen.time' | translate}} <b class="time" [chronometer]="chronometer"></b></div>

<div class="words-table">
    <div class="word-global" id="word-{{i+1}}" *ngFor="let word of selectedWords; let i = index">{{word}}</div>
</div>

<div class="sub-table">
    <div class="stats">
        <p>Trouvés : <span class="counter">{{foundCounter}}</span></p> 
        <p>Fautes : <span class="counter">{{failCounter}}</span></p>    
    </div>
    <div class="options">
        <div (click)="regen()"><i class="fas fa-redo"></i></div>
        <div class="form-check">
            <input [checked]="isRegenAuto" (change)="regenAuto()" class="form-check-input" type="checkbox" id="auto">
            <label class="form-check-label" for="auto">Auto</label>
        </div>
    </div>
</div>

<div class="input-group answer">
    <span class="input-group-text" id="answerId">Romajis</span>
    <input (keyup)="onKeydown($event)" type="text" class="form-control answerInput" aria-label="Sizing example input" aria-describedby="answerId">
    <button (click)="pause()" class="btn btn-outline-secondary pause" type="button"><i class="fas fa-pause" id="pause"></i></button>
</div>


