<h1 class="title">{{'read.title' | translate}}</h1>
<p>{{'read.description' | translate}}</p>
<div class="chrono">{{'gen.time' | translate}} <b class="time" [chronometer]="chronometer"></b></div>

<div class="words-table">
    <div class="word-global" id="word-{{i+1}}" *ngFor="let word of selectedWords; let i = index">{{word}}</div>
</div>

<div class="sub-table">
    <div class="stats">
        <p>{{'read.founds' | translate}} : <span class="counter">{{totalWordsFound}}</span></p> 
        <p>{{'read.mistakes' | translate}} : <span class="counter">{{totalWordsFail}}</span></p>    
    </div>
</div>

<div class="input-group answer">
    <span class="input-group-text" id="answerId">Romaji</span>
    <input (click)="startChrono()" (keyup)="onKeyUp($event)" type="text" class="form-control answerInput" aria-label="Sizing example input" aria-describedby="answerId">
    <button (click)="pauseChrono()" class="btn btn-outline-secondary pause" type="button"><i class="fas fa-play" id="pause"></i></button>
</div>

