.main {
    background-color: var(--color-secondary);
    border-radius: 10px;
	width: 95%;
	margin: auto;
    padding: 20px;
    text-align: center;
}

.navbar {
	width: 95%;
	margin: auto;
	.container-fluid {
		padding: 0;
		.nav-item a {
			color: var(--font-color);
			font-weight: bold;
		}
	}
}

.navbar-brand:hover {
	color: vbar(--font-color) !important;
}

.activeNavItem {
	color: var(--color-accent) !important;
}

.nav-item {
	margin: 0px 10px 0px 10px;
	a {
		&:hover {
		color: var(--color-accent) !important;
		}
 	}
}

.dropdown-item:hover {
	background-color: var(--color-primary);
}

.logo {

	text-decoration: none;
	color: var(--font-color);
	font-family: 'Chewy', cursive;
	font-weight: 300;
	font-size: 32px;
	.logoDot {
		width: 15px;
		height: 15px;
		border-radius: 50%;
		background-color: var(--color-accent);
	}
}

.dropdown-menu {
	background-color: var(--color-primary);
}

.darkSmallNav {
	filter: invert(100%);
}

.toggle-item {
	align-self: baseline;
}

.toggle {
	display: flex;
	justify-content: flex-end;
	margin-top: 3px;
	margin-left: -5px;
	padding-right: 0px !important;
}

.checkbox {
	width: 0px;
    visibility: collapse;
}

.label {
	background-color: var(--font-color);
	border-radius: 50px;
	cursor: pointer;
	
	position: relative;
	height: 20px;
	width: 40px;

}

.label .ball {
	background-color: var(--color-primary);
	border-radius: 50%;
	position: absolute;
	top: 2px;
	left: 2px;
	height: 16px;
	width: 16px;
	transform: translateX(0px);
	transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball {
	transform: translateX(20px);
}

  .footer {
	margin-top: 25px;
	margin-bottom: 10px;
	font-weight: 300;
  
	a,
	p {
	  padding: 0px;
	  text-decoration: none;
	  color: var(--font-color);
	  margin-left: 15px;
	  margin-right: 15px;
	  margin-bottom: 0px;
	}
  
	p {
	  margin-bottom: 10px;
	}
  }
  
  .footer a:hover {
	color: var(--color-accent);
  }

