<div class="main d-flex flex-column align-items-center justify-content-center">
  <h1>仮名</h1>
  <h1>RANDOM "KANA" GENERATOR</h1>
  <p class="description">Génère des "Hiragana" ou "Katakana" dans un ordre aléatoire. Chaque Kana n'apparaîtra qu'une seule fois jusqu'à réinitialisation de la liste.<br/>Cette application permet de s'entraîner à écrire des "Kana" en procédant dans le désordre et ainsi éviter le par cœur traditionnel (a, i, u, e, o, ka, ki, ...).<br/>Cliquez sur le "Rōmaji" pour afficher la solution !</p>
  <p class="kanaType">{{kanaType}}</p>
  <a (click)="swap(kanaType)" class="kana">{{kana}}</a>
  <div>
    <button (click)="generateKana()" type="button" class="btn btn-dark btn-lg">Générer un Kana</button>
    <button (click)="reinitialize()" type="button" class="reinitialize btn btn-outline-dark btn-lg">Réinitialiser liste</button>
    <p class="reinitializationMessage">{{reinitializationMessage}}</p>
  </div>
  <div class="footer d-flex flex-column">
    <div class="d-flex justify-content-center">
      <a href="https://twitter.com/Zukaryo7" target="_blank" rel="noopener noreferrer" class="footerLink">Créée par @zukaryo</a>
      <a href="https://www.twitch.tv/zukaryo" target="_blank" rel="noopener noreferrer" class="footerLink">Twitch</a>  
    </div>
    <p>Tous droits réservés © 2021</p>
  </div>
</div>
