h1 {
    margin: 15px;
    font-weight: 500;
    letter-spacing: 5px;
}

.title {
    color: var(--color-accent);
}

.description {
    margin: auto;
    margin-bottom: 20px;
}

.kanaKanji {
    margin-bottom: 0px;
}

.container {
    width: 100%;
    height: 100%;
}

.kanas-table {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px 0 10px 0;
    .kanaCell {
        padding: 10px;
        background-color: var(--color-primary);
        border-radius: 10px;
        margin: 5px;
        
        &:hover {
            outline: 2px solid var(--color-accent);
        }
        .kanas {
            display: flex;
            justify-content: space-around;
            font-size: 1.7em;
            font-weight: bold;
            p {
                margin-bottom: 0px !important;
            }
        }
        .kanas::last-child {
            margin-right: 15px;
        }
        .romaji {
            font-size: 1.5em;
            opacity: 0.5;
        }
        .hiragana {
            margin-right: 3px;
        }
        .hiragana, .katakana {
            padding: 10px;
            &:hover {
                cursor: pointer;
                color: var(--color-accent);
            }
        }
    }
}
