<div class="all">

    <div class="wrapper d-flex justify-content-between align-items-center">
        <div class="left-panel d-flex flex-column justify-content-between">
            <p class="nihongo">日本語</p>
            <p class="headline" [innerHTML]="'home.title' | translate"></p>
            <button type="button" class="btn btn-lg btn-primary" routerLink="/kana-gen">{{ 'home.discover' | translate }}<i class="fas fa-search"></i></button>
        </div>
        <img class="mainIllu" src="../../assets/img/composition.svg" />    
    </div>

    <div class="main-cards d-flex justify-content-between">
        <div routerLink="/kana-gen" class="main-card d-flex flex-column align-items-center">
            <img src="../../assets/img/settings-outline.svg" class="card-img-top" alt="...">
            <h3>{{ 'nav.generator' | translate }}</h3>
            <p>{{'home.genDescription' | translate}}</p>
        </div>
        <div class="main-card d-flex flex-column align-items-center">
            <img src="../../assets/img/language-outline.svg" class="card-img-top" alt="...">
            <h3>{{ 'nav.read' | translate }}</h3>
            <p>{{'home.readDescription' | translate}}</p>
        </div>
        <div class="main-card d-flex flex-column align-items-center">
            <img src="../../assets/img/library-outline.svg" class="card-img-top" alt="...">
            <h3>Kanjis</h3>
            <p>{{'home.kanjisDescription' | translate}}.</p>
        </div>
    </div>
</div>
