.all {
    width: 80%;
    margin: auto;
    .wrapper {
        margin: 50px 0 50px 0;
        .left-panel {
            z-index: 1;
            margin-right: 8%;
            .nihongo {
                letter-spacing: 25px;
                margin-right: -25px;
                font-weight: bold;
                font-size: 25px;
                color: var(--font-color);
                text-align: left;
            }
            .headline {
                font-size: 2.5em;
                font-weight: bolder;
                text-align: left;
                line-height: 120%;
                .evidence {
                    color: var(--color-accent);
                }
                margin-bottom: 30px;
            }
            button {
                color: var(--color-secondary);
                border: none !important;
                outline: none !important;
                width: max-content;
                background-color: var(--color-accent);
                transition: 0.2s ease;
                &:hover {
                    background-color: var(--color-accent-hover);
                    transform: translateX(10px);
                }
                &:focus, &:active {
                    outline: none;
                    box-shadow: none;
                }
                .fa-search {
                    margin-left: 10px;
                    color: var(--color-secondary);
                }
            }
    }
        .mainIllu {
            width: 50%;
        }
    }

    .main-cards {
        margin: 100px 0 100px;
        .main-card {
            padding: 20px;
            background-color: var(--color-primary);
            border-radius: 10px;
            width: 30%;
            &:hover {
                transform: scale(1.03);
                transition: 0.1s ease-in;
                cursor: pointer;
            }
            img {
                width: 60px;
                filter: var(--color-accent-inverted);
            }
            img, h3, p {
                margin: 10px 20px 10px 20px;
            }
            p {
                font-weight: 300;
            }
        }
    }
}

@media (max-width: 1125px) {
    .all {
        width: 95%;
    }
    .wrapper {
        flex-direction: column;
        margin-bottom: 0px !important;
    }
    .left-panel {
        margin-right: 0 !important;
        align-self: center;
        align-items: center;
        .headline {
            text-align: center !important;
            font-size: 2.2em !important;
        }
    }
    .mainIllu {
        display: none;
    }
    .main-cards {
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-top: 20px !important;
    }
    .main-card {
        width: 100% !important;
        margin: 20px;
    }
}

