<div class="all">

    <div class="wrapper d-flex justify-content-between align-items-center">
        <div class="left-panel d-flex flex-column justify-content-center">
            <p class="nihongo">日本語</p>
            <p class="headline">Une solution <span class="evidence">simple</span><br/>pour apprendre le Japonais.</p>
            <button type="button" class="btn btn-lg btn-primary" routerLink="/kana-gen">Découvrir</button>
        </div>
        <img class="mainIllu" src="../../assets/img/composition.svg" />    
    </div>

    <div class="main-cards d-flex justify-content-between">
        <div routerLink="/kana-gen" class="main-card d-flex flex-column align-items-center">
            <img src="../../assets/img/settings-outline.svg" class="card-img-top" alt="...">
            <h3>Générateur</h3>
            <p>Module générant de manière aléatoire les 46 signes Japonais de base. Pour chaque "Romaji", l'objectif est d'écrire sa version Katakana/Hiragana.</p>
        </div>
        <div class="main-card d-flex flex-column align-items-center">
            <img src="../../assets/img/language-outline.svg" class="card-img-top" alt="...">
            <h3>Lecture</h3>
            <p>Module présentant des mots Japonais générés aléatoirement qu'il faudra réécrire en "Romaji". Bientôt disponible...</p>
        </div>
        <div class="main-card d-flex flex-column align-items-center">
            <img src="../../assets/img/library-outline.svg" class="card-img-top" alt="...">
            <h3>Kanjis</h3>
            <p>Module présentant des "Kanjis" et leur signification ainsi que des Quizz pour s'entraîner. Bientôt disponible...</p>
        </div>
    </div>
</div>