<div class="main d-flex flex-column justify-content-center align-items-center">
  <h1 class="kanaKanji">仮名</h1>
  <h1 class="title">{{'gen.title' | translate}}</h1>
  <div class="chrono">{{'gen.time' | translate}} <b class="time" [chronometer]="chronometer"></b></div>
  <p class="description" [innerHTML]="'gen.explaination' | translate"></p>   
  <div class="checkboxes d-flex justify-content-between">
    <div class="form-check">
      <input [checked]="isHiraganaChecked" (change)="updateHiragana()" class="form-check-input" type="checkbox"
        [disabled]="hiraganaDisabled">
      <label class="form-check-label" for="hiragana">Hiragana</label>
    </div>
    <div class="form-check">
      <input [checked]="isKatakanaChecked" (change)="updateKatakana()" class="form-check-input" type="checkbox"
        [disabled]="katakanaDisabled">
      <label class="form-check-label" for="katakana">Katakana</label>
    </div>
    <div class="form-check">
      <input [checked]="isDiacriticChecked" (change)="updateDiacritics()" class="form-check-input" type="checkbox">
      <label class="form-check-label" for="diacritiques">{{'gen.diacritics' | translate}}</label>
    </div>
    <div class="form-check">
      <input [checked]="isDigraphChecked" (change)="updateDigraphs()" class="form-check-input" type="checkbox">
      <label class="form-check-label" for="digraphes">{{'gen.digraphs' | translate}}</label>
    </div>
  </div>
  <p class="kanaType">{{kanaType}}</p>
  <a (click)="swap(kanaType)" class="kana">{{kana}}</a>
  <div class="progress w-50">
    <div [style.width.%]="progression" class="progress-bar bg-info" role="progressbar">{{progressString}}</div>
  </div>
  <div class="buttons">
    <button (click)="generateKana()" type="button" class="generate btn btn-outline-dark btn-lg">{{'gen.generate' | translate}}</button>
    <button (click)="reinitialize()" type="button" class="reinitialize btn btn-outline-dark btn-lg">{{'gen.reinitialize' | translate}}</button>
  </div>
</div>
