h1 {
  margin: 15px;
  font-weight: 500;
  letter-spacing: 5px;
}

.title {
  color: var(--color-accent);
}

.chrono {
  margin: 15px;
  .time {
      color: var(--color-accent);
  }
}

.kanaKanji {
  margin-bottom: 0px;
}

.description {
  margin: 15px;
  font-weight: 300;
  text-align: center;
  width: 70%;
}

.checkboxes {
    width: 50%;
}

.form-check {
  display: flex;
  align-items: inherit;
  margin: 10px 0px 10px;
  user-select: none;
  .form-check-label {
    margin-left: 5px;
  }
}

.kana {
  text-decoration: none;
  color: var(--font-color);
  cursor: pointer;
  margin: -15px 25px 25px 25px;
  font-size: 100px;
  font-weight: bold;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  user-select: none;
  &:hover {
      color: var(--color-accent);
  }
}

.kanaType {
  margin: 25px 0px 0px 0px;
  font-weight: bold;
  font-size: 28px;
}

.bg-info {
    background-color: var(--color-accent) !important;
}

button {
  margin: 15px;
  color: var(--font-color) !important;
  &:hover {
    color: var(--font-color) !important;
  }
  &:focus, &:active {
    outline: none;
    box-shadow: none;
  }
}

.btn-dark {
  background-color: var(--color-primary);
  border-color: var(--font-color);
}

.btn-outline-dark {
  &:hover {
    background-color: var(--color-primary);
  }
}

.buttons {
  margin-top: 25px;
}

.reinitialize, .generate {
  border-color: var(--font-color);

  &:hover {
    border-color: var(--font-color);
  }
}

.progress {
  background-color: var(--color-primary);
  .progress-bar {
      color: var(--color-primary) !important;
  }
}




@media (max-width: 1200px) {

  .checkboxes {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

  .title, .description, .checkboxes, .progress, .buttons {
    width: 90% !important;
  }
    
    .description {
        text-align: justify;
    }

  .progress {
    height: 25px;
  }

  .buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    button {
      width: 100% !important;
    }

  }

}
