<div class="main d-flex flex-column justify-content-center align-items-center">
  <h1 class="kanaKanji">仮名</h1>
  <h1 class="title">RANDOM "KANA" GENERATOR</h1>
  <div class="time">Temps : <b [chronometer]="chronometer"></b></div>
  <p class="description">Génère les 46 signes japonais de base en "Rōmaji" dans un ordre aléatoire. Chaque signe n'apparaîtra qu'une
              fois jusqu'à réinitialisation de la liste.<br/>Le but est de s'entraîner à écrire des le Katakan ou Hiragana du Rōmaji correspondant.
              La génération aléatoire permet d'éviter le par cœur (a, i, u, e, o, ...)<br/>Cliquez sur le "Rōmaji" pour afficher la solution !</p>   
  <div class="checkboxes d-flex justify-content-between">
    <div class="form-check">
      <input [checked]="isHiraganaChecked" (change)="updateHiragana()" class="form-check-input" type="checkbox"
        [disabled]="hiraganaDisabled">
      <label class="form-check-label" for="hiragana">Hiragana</label>
    </div>
    <div class="form-check">
      <input [checked]="isKatakanaChecked" (change)="updateKatakana()" class="form-check-input" type="checkbox"
        [disabled]="katakanaDisabled">
      <label class="form-check-label" for="katakana">Katakana</label>
    </div>
    <div class="form-check">
      <input [checked]="isDiacriticChecked" (change)="updateDiacritics()" class="form-check-input" type="checkbox"
        [disabled]="diactricDisabled">
      <label class="form-check-label" for="diacritiques">Diacritiques</label>
    </div>
    <div class="form-check">
      <input [checked]="isDigraphChecked" (change)="updateDigraphs()" class="form-check-input" type="checkbox"
        [disabled]="digraphDisabled">
      <label class="form-check-label" for="digraphes">Digraphes</label>
    </div>
  </div>
  <p class="kanaType">{{kanaType}}</p>
  <a (click)="swap(kanaType)" class="kana">{{kana}}</a>
  <div class="progress w-50">
    <div [style.width.%]="progression" class="progress-bar bg-info" role="progressbar" aria-valuenow="75"
      aria-valuemin="0" aria-valuemax="100"></div>
  </div>
  <div class="buttons">
    <button (click)="generateKana()" type="button" class="btn btn-dark btn-lg">Générer</button>
    <button (click)="reinitialize()" type="button" class="reinitialize btn btn-outline-dark btn-lg">Réinitialiser
      liste</button>
  </div>
</div>
